@model IEnumerable<MS.Bordro.Web.Models.CompanyModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Index</h2>

@(
    Html.Telerik().Grid(Model)
        .Name("CompaniesGrid")
            .Editable(editing => editing.Mode(GridEditMode.InCell))

        .DataBinding(dataBinding => dataBinding
            //Ajax binding
        .Ajax()
            //Home.Index renders the grid initially
                .Select("IndexAjax", "Company")
            //Home.Insert inserts a new data record
                .Insert("Insert", "Company")
            //Home.Update updates an existing data record
                .Update("Update", "Company")
            //Home.Delete deletes an existing data record
                .Delete("Delete", "Company")
        )
        .DataKeys(dataKeys => dataKeys.Add(c => c.Id))
        .ToolBar(commands => commands.Insert())
        .Columns(columns => {
            columns.Bound(o => o.Name);
            columns.Command(commands => commands.Edit());
            columns.Command(commands => commands.Delete());
        })
        .Pageable()
        .Sortable()
)


