@model MS.Bordro.Web.ViewModels.CompanyIndexModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h2>Index</h2>

@(Html.Telerik().Grid(Model.CompaniesModel)
        .Name("CompaniesGrid")
        .Editable(editing => editing.Mode(GridEditMode.InLine))
        .DataBinding(dataBinding => dataBinding
                                        .Ajax().OperationMode(GridOperationMode.Client)
                                        .Select("IndexAjax", "Company")
                                        .Insert("Insert", "Company")
                                        .Update("Update", "Company")
                                        .Delete("Delete", "Company")
        )
        .DataKeys(dataKeys => dataKeys.Add(c => c.Id))
        .ToolBar(commands => commands.Insert())
        .Columns(columns => {
                     columns.Bound(o => o.Name);
                     columns.Command(commands => { commands.Edit(); commands.Delete(); });
                 })
        .Pageable(pager => { 
                      pager.Total(Model.Total);
                      pager.Style(GridPagerStyles.PageInput | GridPagerStyles.Numeric);
                  })
        .Sortable())


    