@{ 
    ViewBag.Title = "Utilities";
}
<h2>Utilities</h2>
<hr/>
<ul>
    <li>@Html.ActionLink("Initialize Lookups", "InitConfiguration", "Utilities")</li>
    <li>@Html.ActionLink("Clear Database", "ClearDatabase", "Utilities", null, null)</li>
    <hr />
    <li>@Html.ActionLink("Create Companies", "GenerateCompanies", "Utilities", new { key = 50, extra = 0 }, null)</li>
</ul>
