@{ 
    ViewBag.Title = "Utilities";
}
<h2>Utilities</h2>
<hr/>
<ul>
    <li>@Html.ActionLink("Initialize Lookups", "InitConfiguration", "Utilities")</li>
    <li>@Html.ActionLink("Clear Database and Raven", "ClearDatabase", "Utilities", null, null)</li>
</ul>
